In [60]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [61]:
#Or you can create a Dataframe from a dictionay
weather_2 = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature' : [32, 35, 28, 24, 32, 31],
    'windspeed' : [6, 7, 2, 7, 4, 2],
    'event' : ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
weather_2

{'day': ['1/1/2017',
  '1/2/2017',
  '1/3/2017',
  '1/4/2017',
  '1/5/2017',
  '1/6/2017'],
 'temperature': [32, 35, 28, 24, 32, 31],
 'windspeed': [6, 7, 2, 7, 4, 2],
 'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

In [62]:
type(weather_2)

dict

In [63]:
#Convert Dictionary into Dataframe
df2 = pd.DataFrame(weather_2)
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [64]:
type(df2)

pandas.core.frame.DataFrame

Dataframe is all about rows and columns it is a tabular Data Structure

In [65]:
#Coming back to the first Dataframe, let's see its caracteristics
df.shape #Shows the number of rows and columns

(6, 4)

This information is a tuple (which is similar to a list but the informations can't be modified), so you can save its information in different varialbes like this:

In [66]:
rows, columns = df.shape

In [67]:
rows

6

In [68]:
#Printing the first lines in the Dataframe
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [69]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [70]:
#Printing the last five rows
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [71]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [72]:
#If I want to print the rows 2 to 5 (slicing)
df[2:6]

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [73]:
#Print everything

In [74]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [75]:
#Print the name of columns that you have
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [76]:
#Print the individual column and its content
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [77]:
#Print the individual column and its content
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [78]:
#Another way
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [79]:
type(df['temperature'])

pandas.core.series.Series

In [80]:
#Print two columns together
df[['event', 'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

## Operations in DataFrame

In [81]:
# What is the maximun temperature in the Dataframe?
df['temperature'].max()

35

In [82]:
df['temperature'].mean()

30.333333333333332

In [83]:
df['temperature'].std()

3.8297084310253524

In [84]:
#Basic statistical informations of the columns with integer values
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

## Conditional selection

In [85]:
#Give all the rows in Dataframe where my temperature is greater than and equal to 32..
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [86]:
#Get a row where  my temperature is maximum
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [87]:
#or
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [88]:
#If you don't want to print all the columns just select the columns that you want
df['day'][df.temperature == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [89]:
df[['day', 'temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

## Setting the index

In [90]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [91]:
#If you want to change the index for something like the day..
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

The advantage of doing this is that you can run loc, and you can say: give a row on 1 for 2017

In [92]:
df.loc['1/4/2017']

KeyError: 'the label [1/4/2017] is not in the [index]'

In [93]:
#It doesn't work, let's see why...
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

When you print df you still have the old index... what happens is that when you run the set_index it shows you a new dataframe, it doesn't modify the original one. To modify it you have to run inplace inside this module.

In [94]:
df.set_index('day', inplace = True)

In [95]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [96]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [97]:
#Make your dataframe came back to the original index
df.reset_index(inplace = True)

In [98]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [99]:
#Setting the index to be event
df.set_index('event', inplace = True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

You can see that the index is not unique

In [100]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7