# Exercises for pandas library
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

## 1. How to import pandas and check the version?

In [2]:
import pandas as pd
print(pd.__version__)

0.23.4

## 2. How to create a series from a list, numpy array and dict?
Create a pandas series from each of the items below: a list, numpy and a dictionary
REMEMBER THAT A SERIES IS AN UNIDIMENTIONAL ARRAY. THE SEIRES HAS AN INDEX WHICH IS ALWAYS AT THE LEFT

In [26]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26) #Create number in a array
mydict = dict(zip(mylist, myarr))

### 2.1 List to Series
A LIST IS A SEQUENCE OR COLLECTION OF VALUES, THIS VALUES ARE ELEMENTS OR ITENS. THE LIST IS SIMILAR TO A STRING WHERE ITS ITENS COULD HAVE DIFFERENT TYPES (INT, STR AND OTHERS)

In [3]:
mylist

['a',
 'b',
 'c',
 'e',
 'd',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [4]:
series_list = pd.Series(mylist)

In [5]:
series_list

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [6]:
type(series_list)

pandas.core.series.Series

### 2.2 Array to Series
Difference between list and array --> https://webcourses.ucf.edu/courses/1249560/pages/python-lists-vs-numpy-arrays-what-is-the-difference                                                         
A NUMPY ARRAY IS A GRID OF VALUES, ALL OF THE SAME TYPE, AND INDEXED BY A TUPLE OF NONEGATIVE INTEGERS

In [7]:
myarr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [9]:
series_myarr = pd.Series(myarr)
series_myarr

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

### 2.3 Dictionary to Series
THE DICTIONARY IS AN UNORDERED COLLECTION OF ITEMS. IT HAS A KEY:VALUE PAIR. DICTIONARIES ARE OPTIMIZED TO RETRIEVE VALUES WHEN THE KEY IS KNOWN.

In [11]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [13]:
series_mydict = pd.Series(mydict)
series_mydict

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [14]:
print(series_mydict.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

## 3. How to convert the index of a series into a column of a dataframe?
Difficulty Level: L1

Convert the series ser into a dataframe with its index as another column on the dataframe.

In [15]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [18]:
index(ser)

NameError: name 'index' is not defined

In [29]:
df_ser =pd.DataFrame(ser)
df_ser.head() #this is not what we want. We want to have another index column

   0
a  0
b  1
c  2
e  3
d  4

In [27]:
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

## 4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

In [30]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [33]:
#Solution 1
df = pd.concat([ser1, ser2], axis=1)
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [34]:
#Solution 2
df = pd.DataFrame({'col1':ser1, 'col2':ser2})
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## 5. How to assign name to series' index?
Difficulty Level: L1

Give a name to the series ser calling it ‘alphabets’.

In [3]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [6]:
#Solution 1
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name = 'alphabets')
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [7]:
#Sokution 2
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

## 6. How to get the items of series A not present in series B?
Difficulty Level: L2

From ser1 remove items present in ser2.

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [9]:
ser1.isin(ser2) #See if the items in ser1 has ser2

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [21]:
ser1[ser1.isin(ser2)] #Items in ser2 present in ser1

3    4
4    5
dtype: int64

In [24]:
ser1[~ser1.isin(ser2)] #Items in ser2 NOT present in ser1

0    1
1    2
2    3
dtype: int64

## 7. How to get the items not common to both series A and series B?
Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

In [25]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

https://www.w3resource.com/python-exercises/numpy/python-numpy-exercise-22.php

In [31]:
#Union will return the unique, SORTED array of values that are in either 
#of the two input arrays.
ser_u = pd.Series(np.union1d(ser1, ser2)) 
ser_u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [42]:
#Intersecption between ser 1 and ser 2
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_i

0    4
1    5
dtype: int64

In [46]:
ser_u[ser_u.isin(ser_i)] # #Items in ser_i present in ser_u

3    4
4    5
dtype: int64

In [47]:
ser_u[~ser_u.isin(ser_i)] # #Items in ser_i NOT present in ser_u

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [ ]:
#ANOTHER EXAMPLE

In [44]:
array1 = pd.Series(['batata', 'maça', 'pera', 'uva'])
array2 = pd.Series(['abacate', 'mamão', 'maça', 'pera'])

In [50]:
#Union between array1 and array2
np.union1d(array1, array2)

array(['abacate', 'batata', 'mamão', 'maça', 'pera', 'uva'], dtype=object)

In [51]:
#Make the union a series
array_u = pd.Series(np.union1d(array1, array2)) 
array_u

0    abacate
1     batata
2      mamão
3       maça
4       pera
5        uva
dtype: object

In [53]:
#Intersection between array1 and array2
np.intersect1d(array1, array2)

array(['maça', 'pera'], dtype=object)

In [55]:
#Make the intersection a series
array_i = pd.Series(np.intersect1d(array1, array2))
array_i

0    maça
1    pera
dtype: object

In [57]:
array_u[array_u.isin(array_i)] #In array_u filter array_i

3    maça
4    pera
dtype: object

In [58]:
array_u[~array_u.isin(array_i)]#In array_u don't show me the array_i items

0    abacate
1     batata
2      mamão
5        uva
dtype: object

## 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
Difficuty Level: L2

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [59]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [61]:
ser.describe()

count    25.000000
mean      9.746089
std       5.743281
min      -3.009894
25%       6.518228
50%      10.649157
75%      13.370782
max      21.183927
dtype: float64

In [63]:
#ANOTHER SOLUTION
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-3.00989383,  6.51822754, 10.64915732, 13.37078247, 21.18392698])

## 9. How to get frequency counts of unique items of a series?
Difficulty Level: L1

Calculte the frequency counts of each unique value ser.

In [65]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.head()

0    f
1    c
2    d
3    d
4    c
dtype: object

In [68]:
ser.value_counts() #shows the most frequent letters in the array

d    8
c    6
b    4
f    4
g    4
h    3
e    1
dtype: int64

## 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
Difficulty Level: L2

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [72]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12])) #Number of 1 to 5 12 times

In [78]:
ser.head()

0    3
1    4
2    1
3    3
4    2
dtype: int32

In [76]:
print('Top 2 freq: ', ser.value_counts()) #Count all the values and shows its frequency

Top 2 freq:  4    4
1    4
3    3
2    1
dtype: int64

In [87]:
ser[ser.isin(ser.value_counts().index[:2])]

1     4
2     1
5     1
6     4
7     1
8     4
9     4
10    1
dtype: int32

In [110]:
ser[~ser.isin(ser.value_counts().index[:2])]

0     3
3     3
4     2
11    3
dtype: int32

In [111]:
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0     Other
1         4
2         1
3     Other
4     Other
5         1
6         4
7         1
8         4
9         4
10        1
11    Other
dtype: object

In [109]:
#ANOTHER EXAMPLE
fruits =pd.Series(['abacate', 'batata', 'mamão', 'maça', 'pera', 'uva', 'batata','maça','maça'])
fruits

0    abacate
1     batata
2      mamão
3       maça
4       pera
5        uva
6     batata
7       maça
8       maça
dtype: object

In [105]:
fruits.value_counts()

maça       3
batata     2
mamão      1
abacate    1
pera       1
uva        1
dtype: int64

In [106]:
#Index function helps to filter from zero to 1 items in the value_counts series
#isin shows the most frequent value_counts in fruits series
fruits[fruits.isin(fruits.value_counts().index[:2])]

1    batata
3      maça
6    batata
7      maça
8      maça
dtype: object

In [112]:
# Doesn't show the most frequent values just the other ones
#Remeber that '~' sign represents NOT!
fruits[~fruits.isin(fruits.value_counts().index[:2])]

0    abacate
2      mamão
4       pera
5        uva
dtype: object

In [108]:
#If I want to replace the values just put the '='  sign
fruits[~fruits.isin(fruits.value_counts().index[:2])] = 'Other'
fruits

0     Other
1    batata
2     Other
3      maça
4     Other
5     Other
6    batata
7      maça
8      maça
dtype: object